# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.env
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
/var/
*.egg-info/
.installed.cfg
*.egg
/tests/
backend/tests/legacy/
.pytest_cache/
# Virtual Environment
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# DEV too
.dev.json

logs/
backend/var/
backend/memory/*.db
backend/memory/*.db-*

.log

cielVault/
backend/test/

flowChart.svg

# Frontend
frontend/node_modules/
frontend/dist/
